<html>
<head><title>weatherChart</title></head>
<body>
  <p>weatherChart for 60656</p>
  <p>
    <img src="https://forecast.weather.gov/meteograms/Plotter.php?lat=41.9641&lon=-87.8087&wfo=LOT&zcode=ILZ014&gset=10&gdiff=5&unit=0&tinfo=CY6&ahour=0&pcmd=11011111111110000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6" alt="hmmm..."/>
  </p>
</body>
</html>
