<html>
<head>
  <title>weatherChart</title>
</head>
<body>
  <% defaultZip = "60656" %>
<p>weatherChart for <span id="edit" class="editable"><%=defaultZip %></span></p>
  <p>
  <% (lat, lon) = Geocoder.coordinates defaultZip %>
  The latitude and longitude for zip code <%=defaultZip%> are <%=lat%> and <%=lon%>, respectively. 
  </p>
</body>
</html>
